In [1]:
import numpy as np
import pandas as pd

In [7]:
#Creating array with random whole numbers 0-500
array = np.random.randint(0,501,500)

In [8]:
print(array)

[315 143 422 150 449 206 170 364 159  46 163 472  20 384 250 475 319 300
  81 293 363  82 438 286 336  14 353 285 362 270  79 102  91   5 240 236
 428 374 269  40 400 304 363  55 491 198 285 374 404 222   4  52 312   2
 265 447 437 335 370  55 417 358 400 425 386 216  58 482 225 309  42 403
 210 286 418 250 469 429   7 287 146 400 421 437 466 496 197 142 458 349
 470 442 205 278 484 356   6 379  11 182 429 335 330 365 236  75 269  75
  89 353 280 491 300  81 489 265 248 375 236 347 300 360 390 102  79 491
 499 395  20 314  52 481 137 218 209 416 348 350 360 116 442 351 180 107
 222 304 451 275 372 136 219 307 126 205 115 427 240 132  67 130 278 131
 192 340 286 404 304 367 115 317 375 223 438 322 417 480  11 264  89 261
 201 303 343 136 482  99  36 256 425 401 279 360 227 124  80 162 267 391
  23 179 190  16 395 193 492 181  34 478 480 188  89 492 121 213 440 316
  53 218 355 291 316 125 421 109 327 445 459  36 325 381 323 458 443  32
 340 164 175  63 131  49 229 313 203 375  89  91  24 129 166 186 386 238
  64 462 455 393 453 347  88 404 177 461  22 183 184 339 431 463  61 287
   7 257 206 148 469 232 232 468 325 337 332 190 211 461 390   5  94 455
  76 239 345 474  81   1 399 409 454 218 196  94 350 214   4 296 239 232
  64 159 322 214 374 169 391 472 204 142 403  88 190 241 382 349 151 273
 267 123 290 176 376 348 120 138 458 274 477 403 229 116 158 307 420  98
  96 417 356 352 457 296 320  67  60 265 358 168 274 229 390 381 238 366
  69 339 162  70 498 245  34  88  10 333 391 281  37  46 158  99  64 282
 220 326  38 126 442 326 458 301  33 469  81 215 427  26 367 318  57 353
   7 135 159 272 336 269 367 328 277 446  20 432  61 239 206 268 293  34
 177 480  77 188 260 165 369 226 404  29 142 435  85 162 419 134 334 397
  35 451 383 488 211 480  94 273 246 343 350 349   3 131 322 202  77 324
 204 211 438 413 197 208 129 463  31  87 296 357  98 307 185 317 421 472
 340 132 227  12 349 322 478 377 322 489 246 107 426 405  75 212 371  14
 182 316 383 182 256 374 311 175 318 193 105 253 177 321]

In [11]:
#Reshaping array to 10,50
a = array.reshape(10,50)

In [12]:
a.shape

(10, 50)

In [19]:
print(a)

[[315 143 422 150 449 206 170 364 159  46 163 472  20 384 250 475 319 300
   81 293 363  82 438 286 336  14 353 285 362 270  79 102  91   5 240 236
  428 374 269  40 400 304 363  55 491 198 285 374 404 222]
 [  4  52 312   2 265 447 437 335 370  55 417 358 400 425 386 216  58 482
  225 309  42 403 210 286 418 250 469 429   7 287 146 400 421 437 466 496
  197 142 458 349 470 442 205 278 484 356   6 379  11 182]
 [429 335 330 365 236  75 269  75  89 353 280 491 300  81 489 265 248 375
  236 347 300 360 390 102  79 491 499 395  20 314  52 481 137 218 209 416
  348 350 360 116 442 351 180 107 222 304 451 275 372 136]
 [219 307 126 205 115 427 240 132  67 130 278 131 192 340 286 404 304 367
  115 317 375 223 438 322 417 480  11 264  89 261 201 303 343 136 482  99
   36 256 425 401 279 360 227 124  80 162 267 391  23 179]
 [190  16 395 193 492 181  34 478 480 188  89 492 121 213 440 316  53 218
  355 291 316 125 421 109 327 445 459  36 325 381 323 458 443  32 340 164
  175  63 131  49 229 313 203 375  89  91  24 129 166 186]
 [386 238  64 462 455 393 453 347  88 404 177 461  22 183 184 339 431 463
   61 287   7 257 206 148 469 232 232 468 325 337 332 190 211 461 390   5
   94 455  76 239 345 474  81   1 399 409 454 218 196  94]
 [350 214   4 296 239 232  64 159 322 214 374 169 391 472 204 142 403  88
  190 241 382 349 151 273 267 123 290 176 376 348 120 138 458 274 477 403
  229 116 158 307 420  98  96 417 356 352 457 296 320  67]
 [ 60 265 358 168 274 229 390 381 238 366  69 339 162  70 498 245  34  88
   10 333 391 281  37  46 158  99  64 282 220 326  38 126 442 326 458 301
   33 469  81 215 427  26 367 318  57 353   7 135 159 272]
 [336 269 367 328 277 446  20 432  61 239 206 268 293  34 177 480  77 188
  260 165 369 226 404  29 142 435  85 162 419 134 334 397  35 451 383 488
  211 480  94 273 246 343 350 349   3 131 322 202  77 324]
 [204 211 438 413 197 208 129 463  31  87 296 357  98 307 185 317 421 472
  340 132 227  12 349 322 478 377 322 489 246 107 426 405  75 212 371  14
  182 316 383 182 256 374 311 175 318 193 105 253 177 321]]

In [21]:
#loading array to a dataframe 
df = pd.DataFrame(a)

In [22]:
print(df)

    0    1    2    3    4    5    6    7    8    9   ...   40   41   42   43  \
0  315  143  422  150  449  206  170  364  159   46  ...  400  304  363   55
1    4   52  312    2  265  447  437  335  370   55  ...  470  442  205  278
2  429  335  330  365  236   75  269   75   89  353  ...  442  351  180  107
3  219  307  126  205  115  427  240  132   67  130  ...  279  360  227  124
4  190   16  395  193  492  181   34  478  480  188  ...  229  313  203  375
5  386  238   64  462  455  393  453  347   88  404  ...  345  474   81    1
6  350  214    4  296  239  232   64  159  322  214  ...  420   98   96  417
7   60  265  358  168  274  229  390  381  238  366  ...  427   26  367  318
8  336  269  367  328  277  446   20  432   61  239  ...  246  343  350  349
9  204  211  438  413  197  208  129  463   31   87  ...  256  374  311  175

    44   45   46   47   48   49
0  491  198  285  374  404  222
1  484  356    6  379   11  182
2  222  304  451  275  372  136
3   80  162  267  391   23  179
4   89   91   24  129  166  186
5  399  409  454  218  196   94
6  356  352  457  296  320   67
7   57  353    7  135  159  272
8    3  131  322  202   77  324
9  318  193  105  253  177  321

[10 rows x 50 columns]

In [34]:
#Sum of each row
df.sum(1)

0    12930
1    14681
2    14145
3    12356
4    12162
5    13703
6    13062
7    11091
8    12821
9    13284
dtype: int64

In [35]:
#sum of each column
df.sum(0)

0     2493
1     2050
2     2816
3     2582
4     2999
5     2844
6     2206
7     3166
8     1905
9     2082
10    2349
11    3538
12    1999
13    2509
14    3099
15    3199
16    2348
17    3041
18    1873
19    2715
20    2772
21    2318
22    3044
23    1923
24    3091
25    2946
26    2784
27    2986
28    2389
29    2765
30    2051
31    3000
32    2656
33    2552
34    3816
35    2622
36    1933
37    3021
38    2435
39    2171
40    3514
41    3085
42    2383
43    2199
44    2499
45    2549
46    2378
47    2652
48    1905
49    1983
dtype: int64

In [38]:
df.cumsum()

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,315,143,422,150,449,206,170,364,159,46,...,400,304,363,55,491,198,285,374,404,222
1,319,195,734,152,714,653,607,699,529,101,...,870,746,568,333,975,554,291,753,415,404
2,748,530,1064,517,950,728,876,774,618,454,...,1312,1097,748,440,1197,858,742,1028,787,540
3,967,837,1190,722,1065,1155,1116,906,685,584,...,1591,1457,975,564,1277,1020,1009,1419,810,719
4,1157,853,1585,915,1557,1336,1150,1384,1165,772,...,1820,1770,1178,939,1366,1111,1033,1548,976,905
5,1543,1091,1649,1377,2012,1729,1603,1731,1253,1176,...,2165,2244,1259,940,1765,1520,1487,1766,1172,999
6,1893,1305,1653,1673,2251,1961,1667,1890,1575,1390,...,2585,2342,1355,1357,2121,1872,1944,2062,1492,1066
7,1953,1570,2011,1841,2525,2190,2057,2271,1813,1756,...,3012,2368,1722,1675,2178,2225,1951,2197,1651,1338
8,2289,1839,2378,2169,2802,2636,2077,2703,1874,1995,...,3258,2711,2072,2024,2181,2356,2273,2399,1728,1662
9,2493,2050,2816,2582,2999,2844,2206,3166,1905,2082,...,3514,3085,2383,2199,2499,2549,2378,2652,1905,1983

In [36]:
#Min values
df.min()

0       4
1      16
2       4
3       2
4     115
5      75
6      20
7      75
8      31
9      46
10     69
11    131
12     20
13     34
14    177
15    142
16     34
17     88
18     10
19    132
20      7
21     12
22     37
23     29
24     79
25     14
26     11
27     36
28      7
29    107
30     38
31    102
32     35
33      5
34    209
35      5
36     33
37     63
38     76
39     40
40    229
41     26
42     81
43      1
44      3
45     91
46      6
47    129
48     11
49     67
dtype: int32

In [40]:
#Max Values
df.max(0)

0     429
1     335
2     438
3     462
4     492
5     447
6     453
7     478
8     480
9     404
10    417
11    492
12    400
13    472
14    498
15    480
16    431
17    482
18    355
19    347
20    391
21    403
22    438
23    322
24    478
25    491
26    499
27    489
28    419
29    381
30    426
31    481
32    458
33    461
34    482
35    496
36    428
37    480
38    458
39    401
40    470
41    474
42    367
43    417
44    491
45    409
46    457
47    391
48    404
49    324
dtype: int32

In [44]:
#Average values
df.mean(0)

0     249.3
1     205.0
2     281.6
3     258.2
4     299.9
5     284.4
6     220.6
7     316.6
8     190.5
9     208.2
10    234.9
11    353.8
12    199.9
13    250.9
14    309.9
15    319.9
16    234.8
17    304.1
18    187.3
19    271.5
20    277.2
21    231.8
22    304.4
23    192.3
24    309.1
25    294.6
26    278.4
27    298.6
28    238.9
29    276.5
30    205.1
31    300.0
32    265.6
33    255.2
34    381.6
35    262.2
36    193.3
37    302.1
38    243.5
39    217.1
40    351.4
41    308.5
42    238.3
43    219.9
44    249.9
45    254.9
46    237.8
47    265.2
48    190.5
49    198.3
dtype: float64

In [45]:
#Standard deviation
df.std()

0     139.620955
1     104.976188
2     157.074788
3     139.748822
4     123.904488
5     132.085999
6     164.245210
7     143.659474
8     154.503686
9     131.731883
10    114.649660
11    131.142670
12    140.383166
13    157.296924
14    131.090681
15    109.654457
16    164.330155
17    152.161793
18    117.586895
19     71.316587
20    142.267198
21    126.844437
22    142.266729
23    116.829458
24    143.027930
25    174.616532
26    177.086420
27    147.404357
28    151.211735
29     90.048444
30    138.816786
31    147.569946
32    172.965764
33    166.328190
34     96.550735
35    187.187250
36    125.335151
37    152.788489
38    152.539430
39    122.012249
40     91.610528
41    141.149448
42    105.803854
43    145.921935
44    184.017179
45    112.222448
46    188.786064
47     96.339446
48    137.541307
49     87.963439
dtype: float64

In [46]:
#Sort by column 2
df.sort_values(by = 1)

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
4,190,16,395,193,492,181,34,478,480,188,...,229,313,203,375,89,91,24,129,166,186
1,4,52,312,2,265,447,437,335,370,55,...,470,442,205,278,484,356,6,379,11,182
0,315,143,422,150,449,206,170,364,159,46,...,400,304,363,55,491,198,285,374,404,222
9,204,211,438,413,197,208,129,463,31,87,...,256,374,311,175,318,193,105,253,177,321
6,350,214,4,296,239,232,64,159,322,214,...,420,98,96,417,356,352,457,296,320,67
5,386,238,64,462,455,393,453,347,88,404,...,345,474,81,1,399,409,454,218,196,94
7,60,265,358,168,274,229,390,381,238,366,...,427,26,367,318,57,353,7,135,159,272
8,336,269,367,328,277,446,20,432,61,239,...,246,343,350,349,3,131,322,202,77,324
3,219,307,126,205,115,427,240,132,67,130,...,279,360,227,124,80,162,267,391,23,179
2,429,335,330,365,236,75,269,75,89,353,...,442,351,180,107,222,304,451,275,372,136